<div class="playArea">
  <div>
    <h1>Antal klick: {{ clickCount }}</h1>
    <button (click)="shuffle(monkeys)">Shuffle</button>
    <button (click)="restart()">Restart</button>
  </div>

  <div class="scene scene--card" *ngFor="let monkey of monkeys">
    <div
      class="card"
      (click)="cardClick(monkey)"
      [ngClass]="{ 'is-flipped': monkey.isFlipped }"
    >
      <div class="card__face card__face--front"></div>
      <div
        class="card__face card__face--back"
        [ngStyle]="{
          'background-image': 'url(' + monkey.monkeyImageSource + ')'
        }"
        style="background-size: cover; background-position: center;"
      >
      </div>
    </div>
  </div>
</div>
