/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Exo');
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  font-family: 'Exo';
  margin: 0;
  background-image: url('assets/back.jpg');
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 90%;
}
